<section id="header">
    <a href="#">DemoApp</a>
  
    <div>
        <ul id="navbar">
  
            <li> <a class="active" routerLink ="">HOME</a> </li>
            <li> <a routerLink ="aboutus">ABOUT US</a></li>
            <li> <a routerLink ="jobs">JOBS</a></li>
            <li> <a routerLink ="clients">CLIENTS</a></li>
            <li> <a routerLink ="employers">EMPLOYERS</a></li>
            <li> <a routerLink ="contactus">CONTACT US</a></li>
        </ul>
    </div>
  
    
  </section>