<app-navbar></app-navbar>
<section id="hero">
  
  <h2>I'am Looking for...</h2>
  <input class="input" type="text" placeholder="Enter a Job Description ">
  <label for=""><input type="checkbox" value="Full Time" >Full Time</label>
  <label for=""><input type="checkbox" value="Part time / Causual">Part time / Causual</label>
  <select>
    <option value="">Select your Location</option>
    <option value="">Pune</option>
    <option value="">Mumbai</option>
    <option value="">Chennai</option>
  </select>
  <button>Search</button> 
  <mat-dialog-actions>
  <button mat-raised-button (click)="open()">Register</button>
</mat-dialog-actions>
</section>

<section id="banner" class="section-m1">
  <h4>We're leaders in</h4>
  <h2>Creative Digital Recruitment </h2>
  <p>Based in surry hills, the creative hub of sydney we are surrounded
     by creativity and that reflects on the type of jobs we recruit for. </p>
  <button  class="normal">FIND OUT MOE ABOUT US!</button>
</section>

<section id="newsletter" class="section-p1 section-m1">
  <div class="newstext">
      
      <p>Subscribe to our job seeker mailing List</p>
  </div>
  <div class="form">
      <input type="email" placeholder="Enter Your Email Address">
      <button class="normal">Sign Up</button>
  </div>

</section>

<footer class="section-p1">
  
  <div class="copyright">
      <p> 2023, sanket durande - HTML CSS Ecommerce</p>
  </div>
</footer>